body {
   font: 24px Helvetica;
   background: #999999;
  }

article#img{
margin: auto;
background-color: #2B2B28;
height: 550px;
background:-webkit-gradient(linear, 65% 89%, 32% 42%, from(#7D5B82), to(#070600))
}

img#mapa{
margin-top: 5%;
width: 700px;
height: 392px;
margin-left: 23%;
   display: block;
   margin:4px auto 4px auto;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
}
  
  header, footer , h1{
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }
   
 h1{
     text-align: center;
	 }
 

  @media all and (max-width: 640px) {
  
   #mapa, #img{
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   img#mapa{
    -webkit-order: 0;
            order: 0;
   }
  
   header, footer, h1 {
    min-height: 50px;
    max-height: 50px;
   }
  }