footer{
margin-top: -2%;
background-color: #1EB53A;
}

div.section{
margin: auto;
background-color: #2B2B28;
height: 550px;
}


}
 
h3{
font-family: arial;
}
 
p.header{
margin-left: 30% ;
width: 50%;
font-family: arial;
position: relative;
top: 70px;
text-shadow: 5px 5px 5px white;
font-size: 70px;
}

header{
margin-top: -5%;

background-color: #1EB53A;
height: 150px;
}

body{
background-color: #DDDBD1;
}

img#mapa{
margin-top: 5%;
width: 700px;
height: 392px;
margin-left: 23%;
border: 10px solid #0089AF ;
border-radius: 50px;
}
